
  
<h2>Appraisals Fees</h2><br>
    <table class="table table-hover">
      <tr>
        <th>Appraisal Descprition</th>
        <th>Fee</th>
       <% @appraisalfee.each do |appraisal_fee| %>         
       <tr>
        <td><%= appraisal_fee.description %></td>
        <td><%= appraisal_fee.fee %></td>
       </tr>
       <% end %>
    </table>
</div> 



